*{

}

.acomodalogo{
    margin-left:  290px;
    margin-top: 60px;
}

.personas{
    margin-left: 350px;
    margin-top: -50px;
}

.libros{
    margin-left: -130px;
    margin-top: -30px;
}

.entrarsistema{
    margin-left: -45px;
    margin-top: -35px;
}