<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style_inicio.css') }}"> 
    <link rel="shortcut icon" href="{{ url_for('static', filename='/img/logo.png') }}">
    <title>MVLB</title>
</head>
<body style="background-color: rgba(246, 235, 206, 1);">
    <div>
        <img class="acomodalogo" src="{{ url_for('static', filename='/img/logo.png') }}" alt="Logo crack">
    </div>
    <a href="{{ url_for('verpersonas')}}">
        <img class="personas" src="{{ url_for('static', filename='/img/ver personas.png') }}" width="420">
    </a>
    <a href="{{ url_for('verlibro')}}">
        <img class="libros" src="{{ url_for('static', filename='/img/ver libro.png') }}" width="420">
    </a>
    <a href="{{ url_for('sistema')}}">
        <img class="entrarsistema" src="{{ url_for('static', filename='/img/entrar en sistema.png') }}" width="420">
    </a>
</body>
</html>