<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ver Personas</title>
    <link  href="{{ url_for('static', filename='/css/style_ver_persona.css') }}"rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='/img/Logo.png') }}" />  
</head>

<header>
    
    <div>
        <p class="busqueda">Buscar persona</p>
        <img class="lupa" src="{{ url_for('static', filename='/img/Lupa.png') }}" width="15" height="15">
        
    </div>

    <img class="logo" src="{{ url_for('static', filename='/img/Logo.png') }}" width="240" height="210">

</header>
<body>
    <div class="libro1">
        <img class="img_libro" src="{{ url_for('static', filename='/img/boulevard.jpg') }}" width="165" height="250">
        <h3 class="usuario">superpapupro_2003</h3>
        <p class="reseña">Sinceramente ha sido una decepción, no sé si es que lo leí en base a tan buenas recomendaciones, pero no he visto los motivos que hacen que esté tan bien valorado. En primer lugar Halsey no evoluciona nada de nada, es un personaje simple y fácil.Luke otro tanto, no me creo la rapidez de sus sentimientos. Diálogos simples y forzados, con situaciones que se han visto ya en multitud de historias. Predecible. Lo único diferente a otros libros que he leído es el final, que es triste y un golpe de realidad. Pero es suficiente para ensalzar la historia? No. al menos en mi caso.</p>
        
    </div>

    <div class="libro2">
        <img class="img_libro" src="{{ url_for('static', filename='/img/el sol.jpg') }}" width="165" height="250">
        <h3 class="usuario">superpapupro_2003</h3>
        <p class="reseña">Acabo de terminar este libro de un tirón. Estaba tan hermosamente escrito, con un concepto tan increíblemente expresado. ¡Lo recomiendo muchísimo! 😭💗 El destino es un concepto innegablemente interesante y a la vez tan trágico. ¡Ahhh! Explora tan bien diferentes teorías científicas (etc.) y la teoría del caos. Sinceramente, lo leería todo de nuevo ahora mismo por lo increíblemente bien escrito que está. Estoy llorando a mares y sollozando literalmente hacia el final (y lo digo en serio. ¡Estaba llorando!). Es tan hermoso que ni siquiera puedo explicarlo con palabras. Además, me encantaron los puntos de vista y la maquetación; lo hicieron mucho más personal. Sin duda, una de mis mejores lecturas (para una amante del romance y también para una adolescente-adulta, así que... tenlo en cuenta).</p>
        
    </div>

    <div class="libro3">
        <img class="img_libro" src="{{ url_for('static', filename='/img/un paseo.png') }}" width="165" height="250">
        <h3 class="usuario">superpapupro_2003</h3>
        <p class="reseña">Que puedo decir de este libro, tengo sentimientos encontrados por todo el drama y el amor que me generaron. Nicholas Sparks es un escritor que te genera este tipo de sentimientos en cada una de sus historias. Sus personajes son tan bien pensados que siempre generan esta empatia hacia ellos. Te hará llorar pero descubrirás el amor tan puro que hay en las personas y que a veces el primer amor es para siempre</p>
        
    </div>
